.Navbar{
    height:50px;
    background-color: royalblue;
    display: flex;
    justify-content: center;
}
.navContainer{
    width:100%;
    max-width:1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo{
    font-weight: 650;
}
.Navbutton{
    margin-left: 20px;
    margin:none;
    padding: 5px 10px;
    cursor:pointer;
    color:royalblue;
    font-weight: 500;

}